{% extends 'app/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<style>
    body {
        background-color: #fff;
    }
</style>

{% include 'login_background.html' %}

<div class="container py-5" style="position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%);">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="/app/register">Register</a> here.</p>
</div>

{% endblock content %}